git+https://github.com/prashantsahlot/FrozenGram.git
py-tgcalls
yt-dlp>=2025.01.15
aiohttp
flask
Flask-RESTful
tgcrypto
ffmpeg-python
isodate
pillow
psutil
requests
python-dotenv
asyncpg
pymongo
aiofiles
gender-guesser
youtube-search
